.home img {
    position: absolute;
    top: 15px;
    left: -100px;
    opacity: 0.6;
}
.post {
    position: relative;
    overflow: hidden;
    padding-left: 100px;
}
.btn {
    margin-bottom: 10px;
}